@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  /* color: #9b3bf5; */

}


.btnn{
  width: 122px;
  border-radius: 7px;
  height: 40px;
  font-size: 18px;
}


.innput{
  border-radius: 6px;
  align-items: center;
  border: solid rgb(155, 155, 155);
  padding: 8px;

}
