@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  /* color: #9b3bf5; */

}


.btnn{
  width: 122px;
  border-radius: 7px;
  height: 40px;
  font-size: 18px;
}


.innput{
  border-radius: 6px;
  align-items: center;
  border: solid rgb(155, 155, 155);
  padding: 8px;

}

.btnnn{
  width: 80px;
  border-radius: 7px;
  height: 40px;
  font-size: 16px;
}
input[type="radio"] {
  color: red;
}

.custom-radio {
  color: red;
}

input[type="radio"]:checked {
  color: red;
}
/* input[type=radio]:checked ~ .check {
  border: 5px solid yellow;
}

input[type=radio]:checked ~ .check::before {
  background: yellow;

}

input[type=radio]:checked ~ .text-primary {
  color:  yellow;
}



.checked {
  border: 5px solid yellow !important;
}


.checked::before{
  background: yellow;
} */

